@import './utils.styl'

font-italic-han = "KaiTi", "STKaiti", "STFangSong", "FangSong"

font-italic-eng = "Georgia", "Cambria", "Times New Roman"

font-sans-prefer = "Inter var", -apple-system, "BlinkMacSystemFont"

font-sans-han = "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC", "Source Han Sans CN", "Noto Sans CJK SC", "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", "Microsoft YaHei"

font-sans-eng = "Helvetica", "Arial"

font-mono-eng = "Menlo", "Hack", "Jetbrains Mono", "Source Code Pro", "Fira Code", "Cascadia Code", "Consolas", monospace

icon-copy = url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E")

icon-copied = url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E")

fullwidth-range = U+00B7 /* · */, U+201C-201D /* “” */, U+2018-2019 /* ‘’ */, U+2014 /* — */, U+2026 /* … */

theme(attr, light, dark)
  sel = 'html[class~="dark"] &' // 可以适应module、scoped
  fork sel attr dark light

blend-color(attr, t, lt, lb, dt, db)
  theme attr blend(alpha(lt, t), lb) blend(alpha(dt, t), db)

txt-color(t, attr = 'color')
  blend-color attr t #222 #EFD #DDD #315

bg-color(t, attr = 'background-color')
  blend-color attr t #FFFAF4 #542 #262438 #CBD

bd-color(attr)
  bg-color 0.7 attr

gray-color(attr = 'color')
  txt-color 0.5 attr

txt2-color(attr = 'color')
  txt-color 0.7 attr

heading()
  font-weight bold
  line-height 1.2

heading-size(size)
  font-size 'calc(%s + %s)' % (size * 0.1vw size * 0.01rem + 1rem)
