@import '../../lib/design.styl'

+font-face-of(FullWidth, $font-sans-han)
  unicode-range: fullwidth-range

+font-face-of(ItalicHan, $font-italic-han)
  font-style: italic

+font-face-of(FullWidthItalic, $font-italic-han)
  unicode-range: fullwidth-range
  font-style: italic

*
  margin 0
  padding 0

*, *::before, *::after
  box-sizing inherit

html
  box-sizing border-box
  scroll-behavior smooth

  line-height 1.4
  overflow-wrap break-word
  tab-size 4

  font-size calc(18px + 0.2vw)
  font-feature-settings "liga", "tnum", "calt", "zero"
  font-family "FullWidth", font-sans-prefer, font-sans-eng, font-sans-han, sans-serif

body // 不用HTML，避免dark下的问题
  bg-color 1
  txt-color 1

a
  fork '&:hover' text-decoration underline none
  theme color #03F #8CF
  &:visited // theme无法用fork
    theme color #60E #CBF

h1, h2, h3, h4, h5, h6
  heading()

for size, i in 30 22 15 10 6 3
  h{i + 1}
    heading-size size

hr
  vmargin 2rem
  height 0.15rem
  border none
  bd-color background-color

u
  text-decoration underline 0.08em
  &[title]
    cursor help
    text-decoration-style dashed

em, .italic
  font-style italic
  font-family "FullWidthItalic", "FullWidth", font-italic-eng, "ItalicHan", font-sans-prefer, font-sans-eng, font-sans-han, sans-serif

pre, code, var, kbd, samp
input, textarea
  font-feature-settings normal
  font-family "FullWidth", font-mono-eng, font-sans-prefer, font-sans-han, sans-serif

small
  font-size 0.7em

ul, ol
  vmargin 1rem
  padding-left 1rem
  > li
    vmargin 0.4em

blockquote
  vmargin 1.5rem
  padding 0 1rem
  border-left solid 0.25rem
  bd-color border-left-color

img
  max-width 100%

.table
  width 100%
  white-space nowrap
  overflow auto
  vmargin 1.5rem

  table
    min-width 100%
    border-collapse collapse

    thead
      bg-color 0.97

    th, td, thead
      padding 0.5rem 0.8rem
      border 1px solid
      bd-color border-color
    thead
      border-bottom-width 0.15rem

mjx-container
  overflow auto

button
input
textarea
select
  font-size inherit
  line-height normal
  color inherit

  padding 0.3rem 0.5rem
  bg-color 0.98
  
  outline none

  border solid 1px
  bd-color border-color
  border-radius 0.3rem

  &:disabled
    cursor not-allowed
    bg-color 0.97
    txt-color 0.7

button
input:not([type=range])
textarea
select
  transition box-shadow 0.2s
  &:focus
    bd-color box-shadow 0 0 0.2rem

button
input
select
  margin 0.3rem

textarea
  width 100%
  height 5em
  max-width 100%

button
select
  font-family inherit

button
input[type=checkbox]
input[type=range]
select
  cursor pointer

input[type=checkbox]
  width 1rem
  height 1rem
  vertical-align middle

input[type=range]
  padding 0
